<div class="container-fluid">

  <div class="row cover_img">
    <div class="col-lg-12">
      <span class="textover">You wanna hang out this weekend?</span><br />
      <span class="subtextover">Thousand of events are near by</span>
    </div>
  </div>
  <div class="row bg-color">
    <div class="col-lg-4">
      <h1 class="title">Join</h1>
      <h3 class="title_text">Join the community, create your own events</h3>
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1 class="title">Discover</h1>
      <h3 class="title_text">Browse through thousand of upcoming events near you</h3>
    </div>
  </div>
</div>
