<%= provide(:button_text, 'Log in') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7">
      <h1 class="welcome-info">Welcome Back!</h1>
    </div>
    <div class="col-lg-4 form_area login">
      <h1 class="top-margin-space login_space">Log in</h1>
      <%= render 'sessions/login' %>
    </div>
  </div>
</div>
