<% provide(:botton_text, 'Sign up') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7">
      <h1 class="info-call">Join<br> <span class="comm">the community</span></h1>
    </div>
    <div class="col-lg-4 form_area">
      <h1 class="top-margin-space">Create Account</h1>
      <%= render 'shared/form' %>
    </div>
  </div>
</div>
