@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Oswald|Roboto+Condensed&display=swap');


// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Oswald', sans-serif;


/* Home Page Styling */

body {
  margin-top: 8rem;
  box-sizing: border-box;
}

header {
  margin-bottom: 8rem;
}

.cover_img {
  height: 100vh;
  min-height: 500px;
  margin-top: -8rem;
  background-image: url('bg_img2.jpg');
  background-size: cover;
  background-position: 10% 90%;
  position: relative;
}

.textover {
  font-size: 8rem ;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #fff;
  max-width: 85%;
  margin: auto;
  position: absolute;
  top: 9rem;
  left: 0;
  right: 0;
}

.subtextover {
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400px;
  text-align: center;
  color: #ffa500;
  font-style: italic;
  max-width: 60%;
  margin: auto;
  position: absolute;
  top: 20rem;
  left: 0;
  right: 0;
}

.bg-color {
  background: #0e0e0e;
  height: 100px;
  margin-top: -170px;
}

.title {
  font-size: 5rem;
  color: #ffa500;
  margin-left: 3rem;
}

.title_text {
  font-size: 2.5rem;
  color: #fff;
  font-style: italic;
  margin-left: 3rem;
}

/* Sign up Form Styling */

body {
  background: #f1b452;
}

.info-call {
  font-size: 7rem;
  margin-top: 10rem;
  margin-left: 19rem;
  text-shadow: 2px 2px #ec2b2b;
}

.comm {
  font-style: italic;
  color: #d1d1d1;
  margin-left: -10rem;
  text-shadow: 3px 3px #0e0e0e;
}

.form_area {
  background: #fff;
  margin-bottom: 3%;
  padding: 3%;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px 1px #777;
}

.top-margin-space {
  font-size: 27px;
  font-family: 'Oswald', sans-serif;
  margin-left: 120px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 25%;
  margin-bottom: 20px;
}

select {
  margin-bottom: 1.5rem;
}

input {
  height: auto !important;
}

form {
  width: 100%;
}

.label_html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.login {
  margin-top: 5rem;
}

.form_button {
  font-size: 1rem;
  font-weight: bold;
}

.welcome-info {
  font-size: 10rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  margin-top: 15rem;
  margin-left: 6rem;
  text-shadow: 2px 2px #f9fcf8;
}

.login_space {
  margin-top: 1rem;
  margin-left: 150px;
}
