@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Oswald|Roboto+Condensed&display=swap');


// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Oswald', sans-serif;

body {
  margin-top: 7rem;
  box-sizing: border-box;
}

/* Sign up Form Styling */

body {
  background: #f1b452;
}

.info-call {
  font-size: 7rem;
  margin-top: 10rem;
  margin-left: 19rem;
  text-shadow: 2px 2px #ec2b2b;
}

.comm {
  font-style: italic;
  color: #d1d1d1;
  margin-left: -10rem;
  text-shadow: 3px 3px #0e0e0e;
}

.form_area {
  background: #fff;
  margin-top: 1%;
  margin-bottom: 3%;
  padding: 3%;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px 1px #777;
}

.top-margin-space {
  font-size: 27px;
  font-family: 'Oswald', sans-serif;
  margin-left: 120px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 25%;
  margin-bottom: 20px;
}

select {
  margin-bottom: 1.5rem;
}

input {
  height: auto !important;
}

form {
  width: 100%;
}

.label_html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.login {
  margin-top: 5rem;
}

.form_button {
  font-size: 1rem;
  font-weight: bold;
}

.welcome-info {
  font-size: 10rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  margin-top: 15rem;
  margin-left: 6rem;
  text-shadow: 2px 2px #f9fcf8;
}

.login_space {
  margin-top: 1rem;
  margin-left: 150px;
}
